@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

body, html{
    height: 100%;
    font-family: "Noto-Sans", sans-serif;
}

.hero-image{
    background-image: url("./WebsiteResources/scotland-1987599_1280.jpg");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    font-size: 3rem;
    color: whitesmoke;
    position: absolute;
    top: 200px;
    text-align: center;
    width: 100%;
    font-family: "Baskervville SC", sans-serif;
}